.cm-em-table-row {
    display: table-row;
}

.cm-em-table-cell {
    display: table-cell;
    text-align: left;
    padding: 10px;
    line-height: 1.42857143;
    border-top: 1px solid #f0f0f0;
    vertical-align: top;
}

.cm-em-table-cell:first-child {
    padding-left: 30px !important;
}

.cm-em-table-row:nth-of-type(odd) .cm-em-table-cell {
    background: #f4f4f4;
}

.cm-em-table-row.cm-em-table-head .cm-em-table-cell {
    background-color: #fff;
    vertical-align: middle;
    font-weight: 500;
    color: #333;
    text-transform: uppercase;
}

.el_money_user_block_search {
    width: 20%;
    background: #ffffff;
    float: right;
}
.el_money_user_block_search .text-center {
    text-align: center !important;
}

.elmoney-balance-value {
    max-width: 120px;
}


#cm-filter-admin-block .header_filter_holder .inline-block {
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
    padding-right: 8px;
}
#cm-filter-admin-block a {
    text-decoration: none !important;
}

#cm-filter-admin-block .header_filter_holder .btn {
    background: #dddddd;
    border-color: #d8d8d8;
    color: #333333;
    padding: 11px 10px;
    font-size: 12px;
    line-height: 1.3333333;
}